<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mx-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Beauté des mains</span>
                        <span class="section-heading-lower">Soins  &amp; Onglerie </span>
                    </h2>
                </div>
            </div>
            <%= image_tag "b-hand2.jpg", class: "product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" %>
        <div class="product-item-description d-flex mx-auto">
            <div class="bg-faded p-5 rounded">
                <p class="mb-0">
                Nous proposons une gamme variée de soins des mains et d'ongleries. Vous pourrez découvrir les différents types de poses de vernis, gels, résines, de remplissage etc.. 
                Vous satisfaire est notre priorité.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mx-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Beauté des pieds</span>
                        <span class="section-heading-lower">Onglerie  &amp;  Pédicure</span>
                    </h2>
                </div>
            </div>
            <%= image_tag "b-foot-650.jpg", class: "product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" %>
        <div class="product-item-description d-flex mx-auto">
            <div class="bg-faded p-5 rounded">
                <p class="mb-0">
                    Prendre soin de vos pieds ne sera plus un probléme. Chez BeautyCure nous vous proposons une gamme variée de pédicure et de pose de vernis.
                    Vous satisfaire est notre priorité.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mx-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Beauté du regard</span>
                        <span class="section-heading-lower">MicroShading &amp; blading</span>
                    </h2>
                </div>
            </div>
            <%= image_tag "b-eyes1.jpg", class: "product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" %>
        <div class="product-item-description d-flex mx-auto">
            <div class="bg-faded p-5 rounded">
                <p class="mb-0">
                    Le Regard, un Regard, des cils "parfait" et des sourcils d'une précision évidente.
                    Venez chez BeautyCure afin de découvrir notre gamme de soins dédié à la beauté du regard.
                    Vous receverez des conseils adaptés de la part de nos professionnel.
                    Vous satisfaire est notre priorité.
                </p>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mx-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Soins du Corps</span>
                        <span class="section-heading-lower">Epilation | Gommage | Soins</span>
                    </h2>
                </div>
            </div>
            <%= image_tag "b-body.jpg", class: "product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" %>
        <div class="product-item-description d-flex mx-auto">
            <div class="bg-faded p-5 rounded">
                <p class="mb-0">
                    Afin de pouvoir passer un moment privilégié entre de bonne mains et ainsi laisser votre Corps
                    se relaxer.
                    En compagnie de notre personnel professionnel et chaleureux, vous pourrez profiter de notre large gamme
                    de soins du corps.
                </p>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mx-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Soins du visage</span>
                        <span class="section-heading-lower">Gommage | Soin | Bbflow</span>
                    </h2>
                </div>
            </div>
            <%= image_tag "b-face.jpg", class: "product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" %>
        <div class="product-item-description d-flex mx-auto">
            <div class="bg-faded p-5 rounded">
            <p class="mb-0">
                BeautyCure est en mesure de vous proposez une gamme fourni de soins allant des plus classiques aux nouvelles techniques.
                Nos professionnels sauront vous proposer des soins adaptés pour tous les types de peau et tous les ages.
                Vous staisfaire est notre priorité.
                </p>
        </div>
    </div>
</section>

