<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Salon de beauté</span>
    <span class="site-heading-lower">Beauty Cure</span>
</h1>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
    <a class="navbar-brand" href="#">
        <%= image_tag("b-logo-pink.jpg", class: "logo_size rounded") %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
        <li class="nav-item active px-lg-4">
            <%= link_to "Home", root_path, class: "nav-link text-uppercase text-expanded" %>
            <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item px-lg-4">
            <%= link_to "A propos", about_path, class: "nav-link text-uppercase text-expanded" %>
        </li>
        <li class="nav-item px-lg-4">
            <%= link_to "Produits", products_path, class: "nav-link text-uppercase text-expanded" %>
        </li>
        <li class="nav-item px-lg-4">
            <%= link_to "Magasin", store_path, class: "nav-link text-uppercase text-expanded" %>
        </li>
        <li class="nav-item px-lg-4">
            <%= link_to "Reservation", reservations_path, class: "nav-link text-uppercase text-expanded" %>
        </li>
        <li class="nav-item dropdown px-lg-4">
            <p class="nav-link dropdown-toggle text-uppercase text-expanded" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </p>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if user_signed_in? %>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                <p class="dropdown-item"> Voici ton email : <%= current_user.email %> </p>
                <%= link_to "Edit email / password", edit_user_registration_path, class: "dropdown-item" %>
                    <% else %>
                <%= link_to "Se Connecter", new_user_session_path, class: "dropdown-item" %>
                <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
                    <% end %>
            </div>
        </li>
        </ul>
    </div>
    </div>
</nav>

